.container {
  height: 300px;
  text-align: center;
  padding: 10px 0;
}

.label {
  font-size: 30px;
  display: block;
}

.input {
  width: 90%;
  height: 35px;
  margin: 25px auto;
  outline: none;
  display: block;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.buttonDeleteCompleted {
  margin-top: 10px;
  background-color: rgb(209, 29, 29);
}

.errorText {
  color: red;
  font-weight: 700;
}

@media (min-width: 768px) {
  .container {
    width: 450px;
  }

  .input {
    width: 300px;
  }
}

@media (min-width: 409px) {
  .container {
    height: 270px;
  }
}
